<template>
  <img
    :src="url"
    :alt="alt"
    @click="$emit('image-click', url)"
  />
</template>

<script>
export default {
  name: 'Thumbnail',

  props: {
    url: {
      type: String,
      default: '',
    },
    alt: {
      type: String,
      default: '',
    },
  },
};
</script>
