<template>
  <div id="app">
    <main class="carousel-container">
      <section class="featured-image-wrapper">
        <Thumbnail
          :url="featuredImage"
          :alt="featuredImage"
          class="featured-image"
        />
      </section>
      <Row>
        <Thumbnail
          v-for="(image, key) in images"
          :key="image + key"
          :url="image"
          :alt="image"
          class="thumbnail"
          @image-click="swicthImage"
        />
      </Row>
    </main>
  </div>
</template>

<script>
import { mapActions, mapState } from 'pinia';
import { useCarouselStore } from './stores/carousel';
import Row from '@/components/Row.vue';
import Thumbnail from '@/components/Thumbnail.vue';

export default {
  name: 'App',

  components: {
    Row,
    Thumbnail
  },

  data() {
    return {
      featuredImage: ''
    }
  },

  computed: {
    ...mapState(useCarouselStore, [ 'images' ])
  },

  methods: {
    ...mapActions(useCarouselStore, [ 'fetchImages' ]),

    swicthImage (url) {
      this.featuredImage = url
    }
  },

  async mounted() {
    await this.fetchImages()

    this.featuredImage = this.images[0]
  }
}
</script>

<style lang="scss">
@import url('./assets/base.css');

.carousel-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  & > .featured-image-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    height: 80vh;
    max-width: 100%;

    & > .featured-image {
      max-height: 100%;
    }
    
  }

  & > .row {
    align-items: center;
    height: 20vh;

    & > .thumbnail {
      cursor: pointer;
      margin: 0 10px;
      max-width: 200px;
      max-height: 100%;
    }
  }
}
</style>
